.container h2{
    color: rgba(225, 242, 244, 0.833);
    font-size: 4em;
    margin-bottom: 40px;
    font-family: "Real Ohio";
    letter-spacing: 6px;
}

.text{
    color: rgba(207, 228, 231, 0.732);
        margin-bottom: 80px;
        font-size: 1.3em !important;
        line-height: 1.7;
        text-align: center;
        font-family: Optima;
}
/* Media query for mobile devices */
@media (max-width: 767px) {
    .container h2 {
      font-size: 3em;
      margin-bottom: 20px;
    }
  
    .text {
      font-size: 0.95em !important;
      margin-bottom: 15px;
    }
  }
  
  /* Media query for tablet/ipad devices */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container h2 {
      font-size: 3.5em;
      margin-bottom: 30px;
    }
  
    .text {
      font-size: 1.2em !important;
      margin-bottom: 60px;
    }
  }
  
  /* Media query for 4K screens */
  @media (min-width: 3840px) {
    .container h2 {
      font-size: 8em;
      margin-bottom: 60px;
    }
  
    .text {
      font-size: 2.5em !important;
      margin-bottom: 100px;
    }
  }
  