.contact-section {
  display: flex;
  justify-content: center;
  
  
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.card-body i {
  font-size: 1.2rem;  
  
}

.card-body h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.card-body hr {
  width: 80%;
  margin: 1rem 0;
  
}

.small {
  font-size: 0.9rem;
}

.contacts{
  color: rgba(225, 242, 244, 0.833);
  margin-top: 300px;
  text-align: left;
  margin-left: 150px;
  font-size: 4em;
  font-family: "Real Ohio";
  letter-spacing: 6px;
}