.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: calc(33.33% - 20px);
  margin: 1 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-body i {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card-body h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.card-body hr {
  width: 80%;
  margin: 1rem 0;
}

.small {
  font-size: 0.9rem;
}

.contacts{
  color: rgb(215, 217, 218);
  margin-top: 300px;
  text-align: left;
  margin-left: 200px;
}