.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
  margin-top: 200px;
  margin-bottom: 150px;
}

.image-container {
  flex-basis: 45%;
  margin-right: 20px;
}

.image-container img {
  max-width: 80%;
  height: auto;
}

.text-container {
  flex-basis: 65%;
  padding-right: 7%;
}

.text-container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 1.1em;
  line-height: 1.7;
  text-align: justify;
}
