.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-section .container {
    width: 50%;
  }
  
  .about-section img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  