/* Masthead styles */
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.7) 75%,
        #000 100%
      ),
      url("/Users/vanessa/Desktop/my-portfolio/public/Nessa.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .masthead h1 {
    font-size: 4rem;
  }
  
  .masthead p {
    font-size: 1.5rem;
  }