.projects-section .carousel {
  position: relative;
}

.projects-section .carousel-item {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.projects-section .carousel-item.active {
  display: flex;
}

.projects-section .carousel-item img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  opacity: 0.8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 0.8;
}

.text a {
  color: inherit;
  text-decoration: underline;
}


/* Media query for 4K screens */
@media (min-width: 3840px) {
  .projects-section .carousel-item img {
    height: 900px;
  }

  .carousel-control-prev {
    left: -15%; 
  }

  .carousel-control-next {
    right: -15%;
  }
}
