.projects-section .carousel {
  position: relative;
}

.projects-section .carousel-item {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.projects-section .carousel-item.active {
  display: flex;
}

.projects-section .carousel-item img {
  width: 100%;
  height: 500px; /* set a fixed height for all images */
  object-fit: contain;
  opacity: 0.9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  width: 30px;
  height: 30px;
  background-size: 100%, 100%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 0.8;
}
